*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f7f2ed;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: white;
}
#AEA_icon {
    position: absolute;
    left: 0;
}
#AEA_icon img {
    width: 100%;
    height: auto;
}

#CS_icon img {
    width: 100%;
    height: auto;
}
#hero_section {
    width: 100%;
    background-color: #0D2C58;
    color: white;
}
#content_section {
    background-color: white;
}
#content_section h3 {
    margin: 0;
}
#content_section p {
    border-bottom: solid;
    border-color: grey;
}
#contact_form {
    background-color: white;
}

.contact_form_input {
    display: flex;
    flex-direction: column;
}
#contact_form_message {
    display: flex;
    flex-direction: column;
}
#contact_form_buttons {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px){
    #AEA_icon {
        width: 15%;
        max-width: 130px;
    }
    #CS_icon {
        width: 30%;
        max-width: 180px;
    }
    #hero_section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 3rem 0 3rem;        
    }
    #hero_section img {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    #hero_section h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    #hero_section h2 {
        text-align: center;
        font-size: .75rem;
    }
    #content_section {
        margin: 0 2rem 0 2rem;
        padding: 1.5rem;
    }
    #content_section h3 {
        font-size: 1.25rem;
    }
    #content_section p {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
    #contact_form {
        margin: 3rem;
        padding: 2rem;
        font-size: 1rem;
    }
    .contact_form_row {
        display: flex;
        flex-direction: column;
    }
    #contact_form input {
        font-size: 1rem;
        padding: .5rem;
    }
    #contact_form textarea {
        font-size: 1rem;
        max-width: 15rem;
        scrollbar-width: auto;
        padding: .25rem;
    }
    #contact_form button {
        font-size: 1rem;
    }
    .contact_form_row {
    }
    .contact_form_input {
        width: 15rem;
        margin-bottom: 1rem;
    }
    #contact_form_buttons {
        gap: 1rem;
        margin-top: 1rem;
    }
}
@media (min-width: 768px) {
    #AEA_icon {
        width: 8%;
        max-width: 300px;
    }
    #CS_icon {
        width: 15%;
        max-width: 550px;
    }
    #hero_section {
        display: flex;
        padding: 0 5rem 0 5rem;
        justify-content: center;
    }
    #hero_section img {
        width: 40%;
        margin: 3rem;
        max-width: 800px;
    }
    #hero_section div {
        flex-grow: 1;
        justify-items: center;
        align-content: center;
        max-width: 1200px;
        margin-right: 3rem;

    }
    #hero_section h1 {
        text-align: center;
        font-size: 4.5rem;
    }
    #hero_section h2 {
        text-align: center;
        font-size: 2.5rem;
    }
    #content_section {
        margin: 0 10rem 0 10rem;
        padding: 5rem 5rem 5rem 5rem;
        max-width: 2200px;
    }
    #content_section h3 {
        font-size: 2.25rem;
    }
    #content_section p {
        font-size: 1.75rem;
        padding-bottom: 3rem;
    }
    #contact_form {
        margin: 5rem;
        padding: 3rem;
        font-size: 1.5rem;
    }
    .contact_form_row {
        display: flex;
        flex-direction: row;
    }
    #contact_form input {
        font-size: 1.5rem;
        padding: .5rem;
    }
    #contact_form textarea {
        font-size: 1.5rem;
        padding: .5rem;
    }
    #contact_form button {
        font-size: 1.5rem;
    }
    .contact_form_row {
        gap: 3rem;
        margin-bottom: 1rem;
    }
    .contact_form_input {
        width: 25rem;
    }

    #contact_form_buttons {
        gap: 1rem;
        margin-top: 1rem;
    }
}